button{
    width: 200px;
    height:50px;
    font-size: 100%;
    background-color: goldenrod;
    border: none;
    margin-left: 1%;
    align-items: center;
}

.fa-cart-shopping{
float: right;
position: absolute;
right:100px;
 margin-left: 10px;
 height: 150px;
 width: 150px;
 font-size: 30px;
 top: 70px;
}
.card container{
    width: 25%;
    padding: 5%;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    padding-bottom: 100px;
}
.text{
    border: 2px solid black;
    margin-left: 1%;
    border-width: 5px;
    border-radius: 10px;
    max-width: fit-content;
    text-align: align center;
    margin-top: 1%;
}
.text1{
    margin-left: 0px;
    padding-bottom: 10px;
    margin-right: 30%;
    font-weight: 1000;
    font-style: bold;
    font-size: 30px;
}



 