table {
    width: 90%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: CENTER;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .fa-cart-shopping{
    float: right;
   position: absolute;
    right:100px;
     margin-left: 10px;
     height: 150px;
     width: 150px;
     font-size: 30px;
     top: 70px;
 } 
 .fa-plus{
    float: right;
    position: absolute;
    right:250px;
     margin-left: 10px;
     height: 150px;
     width: 150px;
     font-size: 30px;
     top: 70px;
}
.profile-dropdown {
  display: none;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  text-align: center;
  background-color: rgb(13, 163, 233);
}
.button {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  
}
.button-container {
  display: flex;
}

.button-container a {
  margin-right: 10px;
}
.profile-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile-icon {
  
  float: right;
position: absolute;
right:10px;
margin-left: 30px;
height: 150px;
width: 150px;
font-size: 30px;
top: 70px;
}
.profile-icon:hover .profile-dropdown {
  display: block;
}
